<section>
    <h3>Tasks:</h3>
    <input type="text" [(ngModel)]="filtro" placeholder="Task"/>
    <select [(ngModel)]="filtroProy">
      <option value="0">Proyectos</option>
      <option *ngFor="let i of tasks" [value]="i.proy">{{i.proy}}</option>
    </select>
      <ul>
        <span><strong>Id </strong><strong>Desc </strong><strong></strong></span>
        <li *ngFor="let i of filtrarTask(filtro, filtroProy)">
          <span>{{i.tid}}, {{i.desc}}, {{i.time}} </span>
          <a [routerLink]="['/tasks', i.tid]">Ver</a>
        </li>
      </ul>
    </section>
    <div>
      <button [routerLink]="['/tasks/addnewtask'] ">Add new task</button>
    </div>
