form{

    width: 15%;
    padding: 3%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    row-gap: 2%;
    border: 1px solid #000;

    textarea.ng-touched{

        border: 1px solid yellow;
    }
    *.ng-touched.ng-valid{

        border: 1px solid #5F5;
    }
    *.ng-invalid{

        border: 1px inset #F00;
    }


}
