<section>
    <h3>Projects:</h3>
    <input type="text" [(ngModel)]="filtroTexto" placeholder="Project"/>
    <select [(ngModel)]="filtroId">
        <option value="0">Proyectos</option>
        <option *ngFor="let i of projects" [value]="i.pid">{{i.pid}}</option>
      </select> 
    <ul>
        <li *ngFor="let i of filtrarProject(filtroTexto, filtroId)">
            <span>{{i.pid}}, {{i.title}} </span>
            <a [routerLink]="['/projects', i.pid]">Ver</a>
        </li>
      </ul>
    </section>
